/* Set the size of the div element that contains the map */
#map {
    height: 200px; /* The height is 400 pixels */
    width: 100%; /* The width is the width of the web page */
}

ion-item:has(div#map) {
    --padding-end: 0px;
    --padding-start: 0px;
    --inner-padding-end: 0px;
}

.ios ion-searchbar, .ios ion-item-divider ion-label{
    padding: 8px 12px;
}

.toolbar-padding{
    padding: 5px;
}