<ion-content [fullscreen]="true">
  <div class="container">
    <div class="form-container">
      <h1 class="ion-text-center">Iniciar Sesión</h1>
      <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <ion-input class="input-background" label="Correo Electrónico" labelPlacement="stacked" type="text" fill="solid" placeholder="Ejemplo@email.com"
        formControlName="email" [class.is-invalid]="
        (loginForm.get('email')?.invalid && submitted) || 
        (loginForm.get('email')?.invalid && loginForm.get('email')?.touched)"></ion-input>
        
        @if ((loginForm.get('email')?.invalid && submitted) || loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
          <span class="danger">Ingrese un email válido</span>
        }
        
        <ion-input class="input-background" label="Contraseña" id="password" labelPlacement="stacked" type="password" fill="solid" placeholder="Contraseña"
          formControlName="password" 
          [class.is-invalid]="
          (loginForm.get('password')?.invalid && submitted) || 
          loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>


        @if ((loginForm.get('password')?.invalid && submitted) || loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
            <span class="danger">Ingrese una contraseña</span>
        }
        <ion-button color="primary" type="submit">Entrar</ion-button>
        <ion-button [routerLink] = "['/auth/register']" class="ion-text-center" color="dark" fill="clear">Registrar cuenta</ion-button>
      </form>
    </div>
  </div>
</ion-content>
