<ion-header>
  <ion-toolbar color="primary">
    <ion-button class="mx-10" size="small" slot="start" [routerLink] = "['/auth/login']" routerDirection="root" color="light">
      <ion-icon name="log-out" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-title>Reciclaje</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

  <ion-list [inset]="true" class="ion-no-padding">
    <ion-item-divider color="primary">
      <ion-label>
        <h2>Ver en el Mapa los Puntos de reciclaje</h2>
      </ion-label>
    </ion-item-divider>

    <ion-item class="map-item" lines="none">
      <div id="map"></div>
    </ion-item>

    <ion-item-divider color="primary">
      <ion-label>
        <h2>Puntos de reciclaje</h2>
      </ion-label>
    </ion-item-divider>
    @if (puntos.length > 0) {
      <div style="max-height: 200px; overflow-y: scroll;">
          <p class="mx-10">Mostando {{cantidadResultados ? cantidadResultados : '... '}} resultados</p>
          @for (punto of puntos; track $index) {
            <ion-item button>
              <ion-icon name="leaf" slot="start" color="primary"></ion-icon>
              <ion-label (click)="addMarkerToMap(punto)">
                {{punto.title}} | {{punto.distance ? (punto.distance < 10 ? punto.distance + ' km' : 'Más de 10km') : 'Calculando...'}}
                <p>
                  <ion-text>
                    {{punto.address}}
                  </ion-text>
                </p>
              </ion-label>
            </ion-item>
          }
      </div>
      <ion-item button color="primary" (click)="resetMapView()">
        <ion-label class="ion-text-center">
          Centrar vista del mapa
        </ion-label>
      </ion-item>
    }@else {
      <ion-item>
        <ion-text>No hay puntos de reciclaje</ion-text>
      </ion-item>
    }
  </ion-list>
</ion-content>
